header {
    height: 5rem;
    background-color: black;
}

.logo {
    line-height: 4.5rem;
}

body {
    background-color: rgb(255, 238, 217);
    font-family: "Exo 2", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.box {
    width: 100%;
}

.box ul {
    padding: 0;
}

.ms-header-title {
    color: white;
}

.ms-title {
    position: sticky;
    top: -5px;
    background: rgb(255, 238, 217);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top: 2px solid rgb(135, 180, 135);
    transition: all 1s ease;
}

.cart-header {
    position: sticky;
    top: -5px;
    background: rgb(135, 180, 135);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top: 2px solid rgb(135, 180, 135);
    transition: all 1s ease;
    color: white;
}

.ingredient {
    list-style-type: none;
    padding: .8rem 1.2rem;
    border: 2px solid rgb(135, 180, 135);
    border-radius: 5px;
    width: 90%;
}

.ingredient .fa-solid {
    padding: .8rem;
    background: rgb(135, 180, 135);
    border-radius: 50%;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

.ingredient .fa-plus:active {
    color: green;
}

.ingredient .fa-minus:active {
    color: red;
}

.ingredient-badge {
    width: 25px;
    height: 25px;
    top: -15px;
    right: -15px;
    border-radius: 50%;
    background: rgb(255, 125, 125);
    color: white;
    font-weight: bolder;
}

.badge-hidden {
    display: none;
}

.poke-badge {
    width: 23px;
    height: 23px;
    top: 34px;
    right: -3px;
    border-radius: 50%;
    background: rgb(255, 125, 125);
    color: white;
    font-weight: bolder;
    text-align: center;
    line-height: 23px;
}

.ms-btn {
    background: rgb(135, 180, 135);
    color: white;
    border: none;
    border-radius: 5px;
    padding: .7rem;
}

.poke-storage-container {
    position: fixed;
    height: 5rem;
    bottom: -10px;
    z-index: 10;
    background: rgb(255, 238, 217);
}

.poke-img-container {
    background: transparent;
    border: none;
}

.mb-6 {
    margin-bottom: 6rem !important;
}

.ms-close-canvas {
    position: fixed;
    top: 28px;
    right: 25px;
    filter: invert(1);
}

.poke-item {
    border: 2px solid rgb(135, 180, 135);
    background: white;
    border-radius: 15px;
    height: 100px;
    width: 100%;
    overflow-y: auto;
    position: relative;
}

.poke-img {
    width: 30%;
    height: 100%;
    position: sticky;
    top: 0px;
}

.poke-resume {
    width: 70%;
    height: 100%;
    font-size: .8rem;
}

.poke-btn-delete {
    position: absolute;
    top: 4px;
    right: 4px;
    padding: .7rem;
    border-radius: 50%;
    border: none;
    background:rgb(255, 125, 125);
}

.ms-cart {
    background: rgb(255, 238, 217);
}

.ms-cart-footer {
    background: rgb(255, 238, 217);
    z-index: 15;
    height: 5rem;
}

.ms-price {
    width: 40%;
    text-align: center;
}